@import '~antd/dist/antd.css';
.pageWrap{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.Wrap{
    max-width: 980px;
    margin: 0 auto;
}
.Wrap img{
    max-width: 100%;
}
.headerDivider{
    float: left;
    margin: 10px 0;
    height: 44px;
}
#nav{
    float: left;
    margin-left: 30px;
    background:none;
    border: none;
    line-height: 62px;
}
#nav a{
    color: #fff;
}
#nav .ant-menu-item-selected a{
    color: #1890ff;
}
.xsNav{
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.main{
    flex: 1;
}
.main .Wrap{
    border: 1px solid #CCC;
    border-top: none;
    overflow: hidden;
}
.indexSider{
    border-right: 1px solid #CCC;
    padding-bottom:9999px;
    margin-bottom: -9999px;
}
#indexMenu{
    margin-right: none;
}
#indexMenu li{
    margin-right: -1px;
    transition: none;
    text-align: center;
    border-right: 3px solid rgba(0, 0, 0, 0);
}
#indexMenu li:hover,
#indexMenu .ant-menu-item-selected{
    background: #e6f7ff;
    border-right-color: #1890ff;
}
#indexXsMenu{
    display: flex;
}
#indexXsMenu li{
     flex:1;
     float: none;
     text-align: center;
}
.indexList{
    padding: 0 10px;
}
.indexList p{
    margin: 0;
}
.replyList .ant-list-item-meta-avatar{
    display: block;
}
.userAvatar{
    width: 100px;
    height: 100px;
    display: block;
    margin: 10px auto;
}
.uerInfo{
    text-align: center;
    line-height: 24px;
    padding-bottom: 10px;
}
.userList{
    line-height: 32px;
}
.userList .ant-list-item{
    position: relative;
}
.userList .ant-list-item {
    display: block;
}
.userList .userName{
    margin: 0 10px 0 5px;
}
.userList h4{
    display: inline-block;
    margin: 0;
}
.userList time{
    position: absolute;
    right: 0;
    top: 12px;
}
#logo{
    color: #fff;
    margin-bottom: 0;
    text-align: center;
}
@media all and (max-width: 767px){
    .userList h4{
        display: block;
    }
}
/*@media all and (max-width: 767px){
    #indexMenu{
        display: flex;
        border-bottom: 1px solid #CCC;
    }
    #indexMenu li{
        flex: 1;
        margin: 0 0 -1px 0;
        border: none;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
    }
    #indexMenu li:hover,
    #indexMenu .ant-menu-item-selected{
    background: none;
    border-bottom-color: #1890ff;
    }
    .indexList{
        border-left:none; 
    }
}
*/